NODE_ENV=development

PORT=3005
FRONTEND_URL=http://nextjs-app:3000

DB_HOST=postgres
DB_PORT=5432   
DB_USER=postgres
DB_PASSWORD=password
DB_DB=db

JWT_SECRET=fec053c7-ebe6-4b6f-a5ba-db0ade2eec73
SENTRY_DSN=https://bfce172fa9c1cf28341d6b52b57fa8ae@o4509706351869952.ingest.us.sentry.io/4509730695806976
NEXT_PUBLIC_API_BASE_URL=http://reverse_proxy:5500/api
